<div class="col-sm-8 blog-main">
  <h2>Show </h2>
  <%#= link_to 'Edit', edit_m_gender_path(@mgender) %>

  <%= link_to 'Delete', @mgender, method: :delete, data: {confirm: 'Are you sure you want to delete this'} %>
</div>